.nav li li.current-page a, .nav.child_menu li li a.active {
    color: rgb(248, 190, 123);
}
.nav.child_menu li li a:hover {
    color: rgb(245, 219, 189);
}
textarea{
    resize: vertical;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: rgba(0,0,0,0);
    border-color: #ddd;
}
.m0{
    margin: 0;
}
.m0a{
    margin: 0 auto;
}
.m-t-5{
    margin-top: 5px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-25{
    margin-top: 25px;
}
.m-t-30{
    margin-top: 30px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-25{
    margin-bottom: 25px;
}
.m-b-30{
    margin-bottom: 30px;
}


.help-block{
    position: absolute;
    bottom: -18px;
    font-size: 12px;
}

